body{
  align-items: center;
}

.drink {
    background: #F08080;
    display: inline-grid;
    padding: 0px;
    text-align: center;
    margin-left: 20px; 
    } 
  
  #main {
    box-sizing: border-box;
    text-align: center;
  }

  #searchButton {
    border-radius: 1rem;
    align-items: center;
    background-color: #F08080;
    }
h2{
    text-align: center;
    color: #fff
  }

  h4{
    text-align: center;
    color: #fff;
  }

  #view{
    position: bottom;
    border-radius: 1rem;
    align-items: center;
    background-color: #F08080;
    border: black;
    border-radius: 1px;
  }

  div.container{
    background-color:#deb887;
    color: #fff;
}
 #image{
  color: #fff;
 }

 .drinkDisplayWindow {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  margin: 0 auto;

  display:none;
}

#drinkThumbnail {
  width: 50%;
  margin-left: 25%;
}

.drinkContent {
  width: 50%;
  height: auto;
  margin: 5% auto;

  border-radius: 1px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: .5em;
  border-radius: 1rem;
}

button:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  background-color: blue;
}

#searchButton{
  background-color: #F08080;
  border: black;
  border-radius: 1px;
}